# First part of the credentials is identical to the braintree extension credentials
CTP_AUTH_URL=https://auth.[region].commercetools.com
CTP_API_URL=https://api.[region].commercetools.com
CTP_SESSION_URL=https://session.[region].commercetools.com
CTP_PROJECT_KEY=[composable-commerce-project-key]

CTP_CLIENT_ID=[composable-commerce-client-id]
CTP_CLIENT_SECRET=[composable-commerce-client-secret]

CTP_JWKS_URL=https://mc-api.[region].commercetools.com/.well-known/jwks.json
CTP_JWT_ISSUER=https://mc-api.[region].commercetools.com

BRAINTREE_MERCHANT_ID=[Braintree merchant id]
BRAINTREE_PUBLIC_KEY=[Brainree public key]
BRAINTREE_PRIVATE_KEY=[Braintreee private key]
BRAINTREE_ENVIRONMENT=Sandbox#Production

BRAINTREE_AUTOCAPTURE=true
BRAINTREE_MERCHANT_ACCOUNT=[see https://developer.paypal.com/braintree/articles/control-panel/important-gateway-credentials#merchant-account-id-versus-merchant-id]

#This part of environmental variables is only for processor
# Enable vault payment methods
STORED_PAYMENT_METHODS_ENABLED=true

MERCHANT_RETURN_URL=[Merchant-website-return-url]
LOCAL_PAYMENT_FALLBACK_URL=[Merchant-website-fallback-url] only required for local payment methods