# CoCo credentials
CTP_AUTH_URL=https://auth.[region].commercetools.com
CTP_API_URL=https://api.[region].commercetools.com
CTP_SESSION_URL=https://session.[region].commercetools.com
CTP_PROJECT_KEY=[composable-commerce-project-key]

CTP_CLIENT_ID=[composable-commerce-client-id]
CTP_CLIENT_SECRET=[composable-commerce-client-secret]

CTP_JWKS_URL=https://mc-api.[region].commercetools.com/.well-known/jwks.json
CTP_JWT_ISSUER=https://mc-api.[region].commercetools.com

BRAINTREE_MERCHANT_ID=[Braintree merchant id]
BRAINTREE_PUBLIC_KEY=[Brainree public key]
BRAINTREE_PRIVATE_KEY=[Braintreee private key]
BRAINTREE_ENVIRONMENT=Sandbox #or Production

# Merchant return URL for redirecting the user back to the merchant website after the payment is completed
# Use it as a fallback if no merchantReturnUrl is provided in the session
MERCHANT_RETURN_URL=[Merchant-website-return-url]